<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8>
		<title>getchee - Client Access Center</title>
		<link rel="stylesheet" href="../../css/n-public.css" />
		<link rel="stylesheet" href="../../css/n-header.css" />
		<link rel="stylesheet" href="../../css/n-footer.css" />
		<link rel="stylesheet" href="../../css/n-form.css" />
		<link rel="stylesheet" href="../../css/n-prettyPhoto.css" />
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600" />
		<script src="../../js/jquery-1.6.1.min.js" ></script>
		<script src="../../js/global-scripts.js" ></script>
		<script src="../../js/jquery.dropdown.js" ></script>
		<script src="../../js/custom-form-elements.js" ></script>
		<script src="../../js/jquery.prettyPhoto.js" ></script>
		<script src="../../js/jquery.placeholder.js" ></script>
		<script src="../../js/jquery.anchor.js" ></script>
		<script src="../../js/jquery.iframe.js" ></script>
		<script src="../../js/float.js" ></script>
		<script src="../../js/jquery.validationEngine-en.js" ></script>
		<script src="../../js/jquery.validationEngine.js" ></script>
		<script>
			jQuery(document).ready(function(){
				// binds form submission and fields to the validation engine
				jQuery("#client-access-form").validationEngine('attach', {promptPosition : "topLeft", autoPositionUpdate : true});
				jQuery("#contact-form").validationEngine('attach', {promptPosition : "topLeft", autoPositionUpdate : true});
			});
		</script>
		<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!--script type="text/javascript">
		$(document).ready(function(){
			$("#btnSignUp").click(function(){
				setTimeout(function(){
					$("#curious").hide();
					$("#thank").fadeIn(1500);
					$('#contact-form').find(':input').each(function(){
						var type = this.type, tag = this.tagName.toLowerCase();
						if (type == 'text' || type == 'password' || tag == 'textarea')
							this.value = '';
						<!--else if (type == 'checkbox' || type == 'radio')-->
						<!--this.checked = false;-->
						<!--else if (tag == 'select')-->
						<!--this.selectedIndex = -1;
					})
				}, 6000);
				setTimeout(function(){
					$("#thank").hide();
					$("#curious").fadeIn(1500);
					$("#btnSignUp").attr("disabled", false);
				}, 12000);
			});
		});

		$(document).ready(function(){
			$("#btnSendComment").click(function(){
				setTimeout(function(){
					$("#title-quick-support").hide();
					$("#thank-quick-support").fadeIn(1500);
					$('#client-access-form').find(':input').each(function(){
						var type = this.type, tag = this.tagName.toLowerCase();
						if (type == 'text' || type == 'password' || tag == 'textarea')
							this.value = '';
						<!--else if (type == 'checkbox' || type == 'radio')-->
						<!--this.checked = false;-->
						<!--else if (tag == 'select')-->
						<!--this.selectedIndex = -1;
					})
				}, 6000);
				setTimeout(function(){
					$("#thank-quick-support").hide();
					$("#title-quick-support").fadeIn(1500);
					$("#btnSendComment").attr("disabled", false);
				}, 12000);
			});
		});
		<!--/script-->
		<script>
		$(document).ready(function(){
			$("#contact-form").get(0).reset();
			$("#contact-form")[0].reset();
			$("#client-access-form").get(0).reset();
			$("#client-access-form")[0].reset();
		});
		</script>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-4949329-1']);
			_gaq.push(['_trackPageview']);
			
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body id="top">
		<!--    HEADER    -->
		<header id="main-head">
			<!--    LOGO    -->
			<div id="logo">
				<a href="../../index.html" target="_top"><img src="../../images/logo.png" alt="getchee, be market intelligent"></a>
			</div>
			<!--    Main Navigation    -->
			<nav id="main_nav"><a href="mailto:support@getchee.com?Subject=Client Access Center"><img src="../../images/support-link.png" alt="support email"></a></nav>
		</header>
		<!--    BODY ARTICLE    -->
		<div style="display:hidden;" class="gallery clearfix"></div>
		<div class="main_wrap">
			<div class="title_section">
				<h1>Glossary of Terms</h1>
				<h2 class="mb50">Below is a complete list of terms and definitions used throughout Kiwi and getchee data products.</h2>
			</div>
		</div>
		<div class="grey_line"></div>
		<section class="grey_section">
			<div class="main_wrap">
			  <div class="column_two_third">
					<div class="glossary-list">
						<ul>
							<li><a href="#A" class="anchorLink">A</a></li>
							<li><a href="#B" class="anchorLink">B</a></li>
							<li><a href="#C" class="anchorLink">C</a></li>
							<li><a href="#D" class="anchorLink">D</a></li>
							<li><a href="#E" class="anchorLink">E</a></li>
							<li><a href="#F" class="anchorLink">F</a></li>
							<li><a href="#G" class="anchorLink">G</a></li>
							<li><a href="#H" class="anchorLink">H</a></li>
							<li>I</li>
							<li>J</li>
							<li>K</li>
							<li><a href="#L" class="anchorLink">L</a></li>
							<li><a href="#M" class="anchorLink">M</a></li>
							<li><a href="#N" class="anchorLink">N</a></li>
							<li>O</li>
							<li><a href="#P" class="anchorLink">P</a></li>
							<li>Q</li>
							<li>R</li>
							<li><a href="#S" class="anchorLink">S</a></li>
							<li><a href="#T" class="anchorLink">T</a></li>
							<li>U</li>
							<li>V</li>
							<li><a href="#W" class="anchorLink">W</a></li>
							<li><a href="#X" class="anchorLink">X</a></li>
							<li><a href="#Y" class="anchorLink">Y</a></li>
							<li><a href="#Z" class="anchorLink">Z</a></li>
						</ul>
					</div>
					<div class="clear"></div>
			    <div id="A">A</div>
					<p><span class="hilight">Accessibility</span><br/>
An aggregate measure of the degree of ease with which a place, person, or thing can be reached, depending on factors such as slope, traffic, distance, and so on.</p>
					<p><span class="hilight">Analog Store</span><br/> 
					A store 
that is similar or closesly resembles another store location in certain respects. This could be due to its similarity in demography, retail mix, phisical site location, and/or other geographic attributes.</p>
					<div id="B">B</div>
					<p><span class="hilight">Base Map</span><br/>
A map containing essential geographic features used for locational reference. Roads, for example, are commonly found on base maps.</p>
					<div id="C">C</div>
					<p><span class="hilight">Cannibalization</span><br/>
A calculation of the amount of overlap between two or more service areas (sometimes known as trade areas).</p>
					<p><span class="hilight">Coordinates</span><br/>
				    A set of numbers, or a single number, that locates a point on a line, on a plane, or in space.</p>
					<p><span class="hilight">Customized &amp; Value-added Datasets</span><br/>
Datasets created by getchee that highlight a segment of the population different from the standard like affluent and employable population segments.</p>
					<div id="D">D</div>
					<p><span class="hilight">Data Aggregator</span><br/>
				    An organization involved in compiling information from detailed databases on individuals and selling that information to others.</p>
					<p><span class="hilight">Demographic(s)</span><br/>
Demographics or demographic data refers to selected population characteristics as used in government, marketing or opinion research, or the demographic profiles used in such research.</p>
					<p><span class="hilight">Demographic Profile</span><br/>
A term used in marketing and broadcasting, to describe a demographic grouping or a market segment.</p>
					<div id="E">E</div>
					<p><span class="hilight">Estimated Market Potential</span><br/>
				    An indication of market opportunity using a derivative of target consumer segments, competition, and cannibalization analysis.</p>
			    <div id="E">F</div>
					<p><span class="hilight">Feature Data</span><br/>
Data that represents geographic features as geometric shapes.</p>
                    
<div id="G">G</div>
<p><span class="hilight">Gap Analysis</span><br/>
A tool that helps a company to compare its actual performance with its potential performance.</p>
<p><span class="hilight">Geocoding</span><br/>
The process of finding associated geographic coordinates (often expressed as latitude and longitude) from other geographic data, such as street addresses, or zip codes (postal codes).</p>
<p><span class="hilight">Geographic Information System (GIS)</span><br/>
A system that captures, stores, analyzes, manages, and presents data that is linked to location.</p>
<p><span class="hilight">Grid</span><br/>
In cartography, any network of parallel and perpendicular lines superimposed on a map and used for reference.</p>

<div id="H">H</div>
<p><span class="hilight">Household Number</span><br/> 
The number of families, or houses, in a given geographic location.</p>

<div id="L">L</div>
<p><span class="hilight">L-commerce</span><br/>
The practice of using technologies which provide location information, such as GPS, for business purposes. An example of l-commerce would be to allow cellphone users to find the nearest restaurant to their current location.</p>

<div id="M">M</div>
<p><span class="hilight">Map Extent</span><br/>
The limit of the geographic area shown on a map, usually defined by a rectangle. In a dynamic map display, the map extent can be changed by zooming and panning.</p>
<p><span class="hilight">Map Point</span><br/>
A point on a map with specific X and Y coordinates. It is usually marked by a drop pin.</p>
<p><span class="hilight">Market Potential</span><br/>
  Needs a definition...</p>

<div id="N">N</div>
<p><span class="hilight">Non-spatial Data</span><br/>
Data without inherently spatial qualities, such as attributes.</p>

<div id="P">P</div>
<p><span class="hilight">Point of Interest (POI)</span><br/>
A point of interest, or POI, is a specific point location that someone may find useful or interesting. Most consumers use the term when referring to hotels, restaurants, fuel stations or any other categories used in modern mapping and navigation systems.</p>

<div id="S">S</div>
<p><span class="hilight">Service Area</span><br/>
The area, typically around a store, from which it derives most of its patronage from. This is also known or refered to as a trade area.</p>
<p><span class="hilight">Scale</span><br/>
  The proportion or ratio between a map measurement and the corresponding measurement in the real world. Map scale is usually expressed as a ratio, such as 1:24,000, which means that a measurement of one unit on the map represents 24,000 units in the real world.</p>
<p><span class="hilight">Study Area</span><br/>
  Study Areas are geographic boundaries created to define the extent of your analysis. These are created when starting a project to ensure your data and analyses are confined to a specified area.</p>

<div id="T">T</div>
<p><span class="hilight">Trade Area</span><br/>
  The area, typically around a store, from which it derives most of its patronage from. This is also known or refered to as a service area.</p>
<p><span class="hilight">Trade Zone</span><br/>
A geographic area that contains a high density of retail infrastructure. They are generally where people go for entertainment (food, shopping, etc.), but can also be places where people work.</p>

<div id="W">W</div>
<p><span class="hilight">Working Population</span><br/>
Needs a definition...</p>

<div id="X">X</div>
<p><span class="hilight">X,Y Coordinates</span><br/>
A pair of values that represents the distance from an origin (0,0) along two axes, a horizontal axis (x), and a vertical axis (y). On a map, x,y coordinates are used to represent features at the location they are found on the earth's spherical surface.</p>
<p><span class="hilight">X-axis</span><br/>
In a planar coordinate system, the horizontal line that runs right and left (east and west of) the origin (0,0).</p>

<div id="Y">Y</div>
<p><span class="hilight">Y-axis</span><br/>
In a planar coordinate system, the vertical line that runs above and below (north and south of) the origin (0,0). Numbers north of the origin are positive, and numbers south of it are negative.</p>

<div id="Z">Z</div>
<p><span class="hilight">Z-axis</span><br/>
In a spherical coordinate system, the vertical line that runs parallel to the earth's rotation, passing through 90 degrees north latitude, and perpendicular to the equatorial plane, where it crosses the x- and y-axes at the origin (0,0,0).</p>

				</div>
				<div class="column_one_third_last">
					<div id="aside_box_white">
					  <h5 class="hilight">Support Index</h5>
						<ul class="round">
							<li><a href="service-level-agreement.html">Service Level Agreement (SLA)</a></li>
							<li><a href="how-to-guide.html">How To Guide</a></li>
							<li><a href="faq-and-troubleshooting.html">FAQ &amp; Troubleshooting</a></li>
							<li><a href="glossary-of-terms.html">Glossary of Terms</a></li>
						</ul>
					</div>
					
					<div id="aside_box_white">
						<h5 id="title-quick-support" class="hilight">Quick Contact</h5><h5 id="thank-quick-support" style="display:none" class="hilight">Thank You!</h5>
							<form action="../s2form/process.php" method="post" accept-charset="utf-8" id="client-access-form" name="form" onSubmit="return checkFields()" autocomplete="off">
								<input name="name" id="name1" class="validate[required] yourname star" type="text" placeholder="Name">
								<input name="email" id="email1" class="validate[required,custom[email]] youremail star" type="text" placeholder="Email">
								<label class="radio_label"><input type="radio" class="styled" name="tags" id="question" value="Client Access Center Question - Krungsri" checked />Question</label>
								<label class="radio_label"><input type="radio" class="styled" name="tags" id="feedback" value="Client Access Center Feedback - Krungsri" />Feedback</label>
								<label class="radio_label"><input type="radio" class="styled" name="tags" id="bug" value="Client Access Center Bug - Krungsri" />Bug</label>
								<textarea name="message" id="message1" class="validate[required] textarea star" type="text" placeholder="Comment..."></textarea>
								<!-- Begin Catpcha -->
								<div id="qna">
								<label for="captcha" id="captcha_question"></label>
								<input type="text" name="" value="" id="captcha">
								<div id="status"></div>
								<p id="captcha_error">Captcha test failed. Please try again.</p>
								<script src="../s2form/captcha.js" ></script>
								</div>
								<!-- End Captcha -->
								<div class="right_f">
									<input type="submit" class="button grey3" name="subbut1" value="Send" id="btnSendComment" />
								</div>
								<div class="clear"></div>
							</form>
					</div>
					
					<div id="aside_box_white">
					  <h5 class="hilight">Contact Info</h5>
							<ul class="round">
							  <li><span class="hilight">Technical Support</span><br />
							  (886) 2-7722-3600 (08:30 - 18:30 M-F)<br>
							  (886) 9-3381-5472 (08:30 - 22:00 M-F)<br>
							  <a href="mailto:support@getchee.com">support@getchee.com </a></li>
								<li><span class="hilight">Business Support</span><br />
(886) 2-7722-3600 (08:30 - 18:30 M-F)<br>
<a href="mailto:sales@getchee.com">sales@getchee.com </a></li>
							</ul>
					</div>
                    <div id="aside_box_white_bottom">
						<h5 class="hilight">System Requirements</h5>
							<ul class="round">
								<li>PC running at least 1.0GHz CPU</li>
								<li>1GB RAM, 200MB free hard-drive space</li>
								<li>Windows operating system</li>
								<li>Firefox 12+ or IE 8+ browser</li>
								<li>ADSL, Cable, or T1 connection</li>
							</ul>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			
		</section>
		<!--    FOOTER    -->
		<div class="footer_top"></div>
		<footer id="footer">
			<div id="content">
			<div class="wrapper">
				<div class="footer-left">
					<div class="footer-left-top">
						<h2>&#8220;<q>Everywhere is walking distance if you have the time.</q>&#8221;</h2>
						<h2 class="gray"><i>- Steven Wright</i></h2>
						<p>Unfortunately, brand owners operating in Asia have little time for leisurely exploration. Now is the time for better, smarter planning and execution for emerging markets.</p>
					</div>
					<div class="footer-left-middle">
						<h2>Our Blog</h2>
					</div>
					<div id="footer-left-bottom-left">
						<dl>
							<dd>Visit <a href="http://blog.getchee.com/" target="_blank">our blog</a> for current retail news and trends happening throughout emerging markets in Asia.</dd>
						</dl>
					</div>
					<div id="footer-left-bottom-right">
						<nav>
							<ul class="social_network">
								<li><a href="http://www.linkedin.com/groups/getchee-2343208?mostPopular=&amp;gid=2343208" target="_blank" title="LinkedIn"><img src="../../images/nav-social-network-linkedin.png" class="ro" alt="LinkedIn"></a></li>
								<li><a href="https://www.facebook.com/teamgetchee" target="_blank" title="Facebook"><img src="../../images/nav-social-network-facebook.png" class="ro" alt="Facebook"></a></li>
								<li><a href="http://twitter.com/getchee" target="_blank" title="Twitter"><img src="../../images/nav-social-network-twitter.png" class="ro" alt="Twitter"></a></li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="footer-right">
					<div class="footer-right-top">
						<h1>We provide market insight, tools, and services to help brands thrive in Asia. <a href="../../about/our-company.html" title="Learn More">Learn More</a>.</h1>
					</div>
					<h2 id="curious">Curious? Get in touch.</h2><div id="thank" style="display:none"><span class="text_white">Thank You!</span> We'll be in touch with you soon.</div>
					<form action="../../s2form/process.php" method="post" accept-charset="utf-8" id="contact-form" name="form" onSubmit="return checkFields()" autocomplete="off">
						<input name="name" id="name" class="validate[required] yourname star" type="text" placeholder="Name">
						<input name="email" id="email" class="validate[required,custom[email]] youremail star" type="text" placeholder="Email">
						<textarea name="message" id="message" class="validate[required] textarea star" type="text" placeholder="Question"></textarea>
						<!-- Begin Catpcha -->
						<div id="qna">
						<label for="captcha" id="captcha_question"></label>
						<input type="text" name="" value="" id="captcha">
						<p id="captcha_error">Captcha test failed. Please try again.</p>
						<script src="../../s2form/captcha.js" ></script>
						</div>
						<!-- End Captcha -->
						<div style="display:hidden;" class="gallery clearfix"></div>
						<input type="hidden" name="tags" value="Curious. Client Access Center.">
						<div class="left_f" style="width:350px;">
							<input type="checkbox" class="styled" name="newsletter subscription" value="Yes" checked="checked"/>
							<span class="checkbox_label gallery clearfix">Signup for our newsletter. 
							<ul class="newsletter_link">
								<li class="preview"><a href="../../images/newsletter-preview.png" rel="prettyPhoto" title="">Preview</a></li>
								<li class="archive"><a href="../../newsletter/index.html">Archive</a></li>
							</ul>
						</div>
						<div class="right_f">
							<input type="submit" class="button dark" name="subbut2" value="Send" id="btnSignUp" />
						</div>
					</form>
					<!--[if IE]>
					<script>
						$('#middle-name').keyup(function() {
							var empty = true;
							$('#middle-name').ready(function() {
								if ($(this).val() == '') {
									empty = true;
								}
							});
							if (empty) {
								$('#btnSignUp').attr('disabled', 'none');
							} else {
								$('#btnSignUp').attr('disabled', 'disabled');
							}
						});
					</script>
					  <script>
					   // To test the @id toggling on password inputs in browsers that don¡¦t support changing an input¡¦s @type dynamically (e.g. Firefox 3.6 or IE), uncomment this:
					   // jQuery.fn.hide = function() { return this; }
					   // Then uncomment the last rule in the <style> element (in the <head>).
					   $(function() {
						// Invoke the plugin
						$('input, textarea').placeholder();
						// That¡¦s it, really.
						// Now display a message if the browser supports placeholder natively
						var html;
						if ($.fn.placeholder.input && $.fn.placeholder.textarea) {
						 html = '<strong>Your current browser natively supports <code>placeholder</code> for <code>input</code> and <code>textarea</code> elements.</strong> The plugin won¡¦t run in this case, since it¡¦s not needed. If you want to test the plugin, use an older browser ;)';
						} else if ($.fn.placeholder.input) {
						 html = '<strong>Your current browser natively supports <code>placeholder</code> for <code>input</code> elements, but not for <code>textarea</code> elements.</strong> The plugin will only do its thang on the <code>textarea</code>s.';
						}
						if (html) {
						 $('<p class="note">' + html + '</p>').insertAfter('form');
						}
					   });
					  </script>
					<![endif]-->
				</div>
			</div>
		</div>
		<div id="footer_nav_area">
			<div class="wrapper">
				<nav>
					<ul class="footer_nav">
						<li><a href="../../privacy-policy.html" target="_top" title="Privacy Policy">Privacy Policy</a></li>
						<li id="last"><a href="../../terms-of-use.html" target="_top" title="Terms of Use">Terms of Use</a></li>
						<li id="last" title="中文版" style="display:none"><a href=javascript:lang_change("cn");>中文版</a></li>
					</ul>
				</nav>
				<small>&copy; <script>document.write((new Date()).getFullYear());</script> getchee. All rights reserved.</small>
			</div>
		</div>
		<script>
			$(document).ready(function(){
				$("area[rel^='prettyPhoto']").prettyPhoto();
				
				$(".gallery:first a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'normal',theme:'light_square',slideshow:3000, autoplay_slideshow: true});
				$(".gallery:gt(0) a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'fast',slideshow:10000, hideflash: true});
		
				$("#custom_content a[rel^='prettyPhoto']:first").prettyPhoto({
					custom_markup: '<div id="map_canvas" style="width:260px; height:265px"></div>',
					changepicturecallback: function(){ initialize(); }
				});

				$("#custom_content a[rel^='prettyPhoto']:last").prettyPhoto({
					custom_markup: '<div id="bsap_1259344" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div><div id="bsap_1237859" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6" style="height:260px"></div><div id="bsap_1251710" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div>',
					changepicturecallback: function(){ _bsap.exec(); }
				});
			});
		</script>
		</footer>
	</body>
</html>