@charset "utf-8";
/* CSS Document */
body {
	font-family: Arial;
	font-size: 14px;
	color: #999;
	height: 100%;
	padding: 0px;
	margin: 0px;
}
/*
	jQuery PopUp - Overlay
*/
.overlay-background {
	position:fixed;  
	_position:absolute; /* hack for internet explorer 6*/  
	height:100%;  
	width:100%;  
	top:0;  
	left:0;  
	background:#000;  
	z-index: 2;
	display: none;
}
.overlay-network {
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height: 185px;
	z-index:3;
	font-size:13px;
	display: none;
}
#overlay-network-wrapper {
	margin: 0px auto;
}
.overlay-close {
	text-align: right;
	margin-top: -50px;
}
#overlay-network-wrapper .blog:link, #overlay-network-wrapper .blog:visited, #overlay-network-wrapper .demo:link, #overlay-network-wrapper .demo:visited, #overlay-network-wrapper .datacatalog:link, #overlay-network-wrapper .datacatalog:visited {
	display: block;
	padding: 120px 35px 17px 35px;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	width: 185px;
	height: 47px;
	float: left;
}
#overlay-network-wrapper .blog:link, #overlay-network-wrapper .blog:visited {
	background: url(../images/networks-blog.png) top left no-repeat;
}
#overlay-network-wrapper .demo:link, #overlay-network-wrapper .demo:visited {
	background: url(../images/networks-demo.png) top left no-repeat;
}
#overlay-network-wrapper .datacatalog:link, #overlay-network-wrapper .datacatalog:visited {
	background: url(../images/networks-datacatalog.png) top left no-repeat;
}
#overlay-network-wrapper .blog:hover {
	background: url(../images/networks-blog-o.png) top left no-repeat;
}
#overlay-network-wrapper .demo:hover {
	background: url(../images/networks-demo-o.png) top left no-repeat;
}
#overlay-network-wrapper .datacatalog:hover {
	background: url(../images/networks-datacatalog-o.png) top left no-repeat;
}
.general-background {
	background: url(../images/main-background.jpg) repeat-x top;
	background-color: #E2E2E2;
}
#wrapper {
	width: 960px;
	margin: auto;
}
#global-style {
}
#networks-overlay li{
	float: left;
	width: 255px;
}
#networks-overlay li.middle{
	margin: 0px 10px;
}
#networks-overlay li a:link, #networks-overlay a:visited {
	text-align: center;
	padding: 115px 30px 20px 30px;
	color: #FFFFFF;
}
#networks {
	clear: both;
}
#networks li {
	float: right;
}
#navigation {
	position:absolute;
	left: 50%;
	margin-top: 105px;
	margin-left: 90px;
	z-index: 1;
}
#logo {
	position: absolute;
	margin-top: 100px;
	z-index: 1;
}
#feature .background {
	background: url(../images/sample.png) center;
	height: 680px;
}
#highlights {
	color: #FFF;
	width: 450px;
	float: right;
	margin-top: 200px;
	margin-right: 90px;
}
.mainhighlight {
	background: url(../images/feature-mainhighlight-bg.png) center bottom;
}
.subhighlights {
	background: url(../images/feature-subhighlights-bg.png) center bottom no-repeat;
}
.subhighlights a:link, .subhighlights a:visited{
	display: block;
	color: #FFF;
	text-decoration: none;
	padding: 60px 15px 30px 180px; 
}
.subhighlights .sub1 {
	background: url(../images/feature-subhighlights-1.png) no-repeat center top;
}
.subhighlights .sub2 {
	background: url(../images/feature-subhighlights-2.png) no-repeat center top;
}
#highlights .hor-divider {
	background: url(../images/feature-subhighlights-divider.png);
	height: 1px;
	margin: 0px 15px;
}
#feature-pods {
	padding: 5px 0px;
}
#feature-pods .pod {
	float: left;
	width: 316px;
}
#feature-pods .content {
	height: 110px;
	padding: 20px 10px;
}
div.roundcorner-inner { zoom:1; background: #ffffff; }
div.roundcorner-outer { background: #cbcbcb;}
div.roundcorner-inner2 { zoom:1; background: #ffffff; }
div.roundcorner-inner2:hover { background: url(../images/pod-bg.png) top repeat-x; }
#feature-pods .middle {
	margin: 0px 6px;
}
#feature-pods .corner-top-left {
	background: url(../images/corner2-top-left.png) top left no-repeat;
}
#feature-pods .corner-top-right {
	background: url(../images/corner2-top-right.png) top right no-repeat;
}
#feature-pods a:link, #feature-pods a:visited {
	display: block;
	padding: 70px 25px 30px 25px;
	color: #999;
	text-decoration: none;
}
.pod1 {
	background: url(../images/pod1.png) no-repeat left top;
}
.pod2 {
	background: url(../images/pod2.png) no-repeat left top;
}
.pod3 {
	background: url(../images/pod3.png) no-repeat left top;
}
/*
	Inner Pages - Feature Style
*/
#feature-inside .background {
	height: 285px;
}
#feature-inside .background2 {
	height: 360px;
}
.about {
	background: url(../images/feature-about.png) center no-repeat;
}
.products {
	background: url(../images/feature-products.png) center no-repeat;
}
.clients {
	background: url(../images/feature-clients.png) center no-repeat;
}
.news {
	background: url(../images/feature-news.png) center no-repeat;
}
.contact {
	background: url(../images/feature-contact.png) center no-repeat;
}
.terms-of-use {
	background: url(../images/feature-terms-of-use.png) center no-repeat;
}
.privacy-policy {
	background: url(../images/feature-privacy-policy.png) center no-repeat;
}
#highlights-inside {
	color: #FFF;
	margin: 200px auto 0px auto;
	text-align: center;
	float: left;
	width: 100%;
}
#main-content {
	margin: 5px 0px;
}
.main-content-wrapper {
	padding: 50px 39px 50px 59px;
	clear: both;
}
#main-content-navigation {
	margin-right: 20px;
	margin-bottom: 15px;
	font-size: 12px;
}
#main-content-navigation ul {
}
#main-content-navigation li{
	float: right;
	margin-left: 20px;
}
#main-content-navigation a:link, #main-content-navigation a:visited {
	text-decoration: none;
	color: #9BB200;
	font-weight: bold;
	line-height: 20px;
}
#main-content-navigation a:hover {
	text-decoration: underline;
}
#main-content-navigation .current:link, #main-content-navigation .current:visited {
	color: #999999;
}
#main-content-navigation .current:hover {
	text-decoration: none;
}
#main-content-navigation .demo:link, #main-content-navigation .demo:visited {
	color: #FFFFFF;
	background: url(../images/content-navigation-demo-bg.png) center no-repeat;
	padding: 4px 20px;
}
#main-content-navigation .demo:hover {
	background: url(../images/content-navigation-demo-bg-o.png) center no-repeat;
	text-decoration: none;
}
#main-content-navigation .data-catalog:link, #main-content-navigation .data-catalog:visited {
	color: #FFFFFF;
	background: url(../images/content-navigation-data-bg.png) center no-repeat;
	padding: 4px 20px;
}
#main-content-navigation .data-catalog:hover {
	background: url(../images/content-navigation-data-bg-o.png) center no-repeat;
	text-decoration: none;
}
#main-content-navigation .blog:link, #main-content-navigation .blog:visited {
	color: #FFFFFF;
	background: url(../images/content-navigation-blog-bg.png) center no-repeat;
	padding: 4px 20px;
}
#main-content-navigation .blog:hover {
	background: url(../images/content-navigation-blog-bg-o.png) center no-repeat;
	text-decoration: none;
}
#new-features {
	margin-right: 20px;
	font-size: 12px;
}
#new-features h1{
	font-size: 30px;
	color: #333;
	margin-bottom: 20px;
}
#new-features ul {
}
#new-features li {
	width: 270px;
	float: left;
	padding-bottom: 18px;
	_padding-bottom: 20px;
}
#new-features .center {
	margin: 0px 15px;
	_margin: 0px 16px;
}
#new-features a:link, #new-features a:visited {
	display: block;
	font-size: 11px;
	color: #999;
	text-decoration: none;
	padding: 10px 0px 10px 50px;
}
#new-features a:hover {
	text-decoration: none;
	background-color: #F0F0F0;
}
#new-features .siteprofiler {
	background: url(../images/nf-siteprofiler.png) -5px center no-repeat;
}
#new-features .poisettings {
	background: url(../images/nf-poisettings.png) -5px center no-repeat;
}
#new-features .estmktpotential {
	background: url(../images/nf-estmktpotential.png) -5px center no-repeat;
}
#new-features .dashboard {
	background: url(../images/nf-dashboard.png) -5px center no-repeat;
}
#new-features .districtsearch {
	background: url(../images/nf-districtsearch.png) -5px center no-repeat;
}
#new-features .sitemanagement {
	background: url(../images/nf-sitemanagement.png) -5px center no-repeat;
}
#new-features .areademographics {
	background: url(../images/nf-areademographics.png) -5px center no-repeat;
}
#new-features .sitereports {
	background: url(../images/nf-sitereports.png) -5px center no-repeat;
}
#new-features .siteranking {
	background: url(../images/nf-siteranking.png) -5px center no-repeat;
}
#new-features .tradeareaoverlap {
	background: url(../images/nf-tradeareaoverlap.png) -5px center no-repeat;
}
#new-features .recallanalysis {
	background: url(../images/nf-recallanalysis.png) -5px center no-repeat;
}
#new-features .imexport {
	background: url(../images/nf-importexport.png) -5px center no-repeat;
}
#new-features .ssl {
	background: url(../images/nf-ssl.png) -5px center no-repeat;
}
#main-content-inner {
	margin-right: 20px;
	font-size: 12px;
}
#main-content-inner h1 {
	font-size: 24px;
	padding-bottom: 15px;
	color: #333;
}
#main-content-inner h2 {
	font-size: 14px;
	margin-top: -15px;
	padding-bottom: 15px;
	color: #666;
}
#main-content-inner h3 {
	font-weight: bold;
	margin-bottom: 5px;
	color: #333;
}
#main-content-inner h4 {
	font-size: 16px;
	padding-bottom: 15px;
	color: #000;
	display: inline;
}
#main-content-inner p {
	font-family: Arial;
	font-size: 12px;
	line-height: 18px;
	padding-bottom: 20px;
}
#main-content-inner .clear {
	height: 15px;
}
#main-content-inner .center {
	margin: 0px 19px;
	_margin: 0px 20px;
}
#main-content-inner a:link, #main-content-inner a:visited {
	color: #9BB200;
	text-decoration: none;
}
#main-content-inner a:hover {
	text-decoration: underline;
}
.width3column {
	width: 267px;
	float: left;
}
.width40 {
	width: 40%;
	float: left;
}
.width60 {
	width: 60%;
	float: left;
}
.width25 {
	width: 25%;
	float: left;
}
.width30 {
	width: 30%;
	float: left;
}
.width70 {
	width: 70%;
	float: left;
}
#case-study-list p {
	font-size: 11px;
	line-height: 15px;
}
#main-content-inner .divider-hor {
	margin: 0px;
}
.starbucks {
	padding-left: 100px;
	background: url(../images/client-starbucks.png) no-repeat left top;
}
.taishin {
	padding-left: 100px;
	background: url(../images/client-taishin.png) no-repeat left top;
}
.mcdonalds {
	padding-left: 100px;
	background: url(../images/client-mcdonalds.png) no-repeat left top;
}
.unilever {
	padding-left: 100px;
	background: url(../images/client-unilever.png) no-repeat left top;
}
blockquote {
	background: url(../images/blockquote-bg.png) no-repeat top left;
	padding-left: 60px;
	line-height: 18px;
}
#main-content-inner ul.list-small {
	padding-bottom: 20px;
}
#main-content-inner ul.list-small li{
	font-size: 11px;
	line-height: 18px;
}
#main-content-inner .box {
	font-size: 11px;
	padding-bottom: 20px;
	display: block;
}
#contact-form label {
	display: block;
	color: #000;
	font-size: 14px;
	padding-bottom: 5px;
	clear: both;
}
#contact-form label span{
	color: #999;
	font-size: 12px;
}
#contact-form input.textbox{
	border: 1px #e2e2e2 solid;
	font-size: 12px;
	width: 100%;
	margin-bottom: 25px;
	padding: 3px;
	color: #666;
}
#contact-form textarea{
	border: 1px #e2e2e2 solid;
	font-size: 12px;
	width: 100%;
	height: 100px;
	margin-bottom: 25px;
	padding: 3px;
	color: #666;
}
#contact-form .checkbox {
	width: 16px;
	height: 16px;
	padding: 0px;
	float: left;
	margin-right: 5px;
}
.contact-form-industry-list {
}
.contact-form-industry-list li{
	float: left;
	margin: 0px 10px 20px 0px;
}
#sitemap h2 {
	margin: 0px;
	padding: 0px 0px 10px 0px;
}
#news-list h2 {
	margin: 0px;
	padding: 0px 0px 10px 0px;
}
.list-news {
	padding-bottom: 30px;
}
.list-news li {
	border-bottom: 1px solid #CBCBCB;
	line-height: 25px;
}
#main-content-network h1 {
	padding-bottom: 0px;
	font-size: 16px;
}
#main-content-network .blog {
	background: url(../images/networks-inside-blog.png) top center no-repeat;
	padding: 70px 30px 0px 30px;
	text-align: center;
}
#main-content-network .demo{
	background: url(../images/networks-inside-demo.png) top center no-repeat;
	padding: 70px 30px 0px 30px;
	text-align: center;
}
#main-content-network .datacatalog{
	background: url(../images/networks-inside-datacatalog.png) top center no-repeat;
	padding: 70px 30px 0px 30px;
	text-align: center;
}
#footer {
}
#footer form {
	color: #999999;
	text-align: right;
}
#footer label {
	font-weight: bold;
}
#footer input.textbox {
	font-size: 11px;
	color: #999999;
	padding: 3px;
	border: 1px solid #CCC;
}
#footer li a:link,  #footer li a:visited{
	padding: 0px 10px;
	color: #9BB200;
	text-decoration: none;
}
#footer li a:hover {
	padding: 0px 10px;
	color: #9BB200;
	text-decoration: underline;
}
.footer-navigation {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 25px;
	color: #CCCCCC;
}
.footer-copy {
	padding: 10px 10px;
	font-size: 11px;
}
/*---------------------------------------*/
#navigation ul.hor-list-left li {
	position: relative;
}
#navigation ul.hor-list-left li ul{
	display: none;
}
#navigation ul.hor-list-left li:hover ul{
	display: block;
	position: absolute;
	*margin-top: 71px;
	*margin-left: -64px;
}
#navigation ul.hor-list-left li.open ul{
	display: block;
	position: absolute;
	*margin-top: 71px;
	*margin-left: -64px;
}
#navigation ul.hor-list-left li.open:hover ul{
	display: block;
	position: absolute;
}
/*---------------------------------------*/
.hor-list-left li {
	float: left;
}
.hor-list-left ul li{
	float: none;
}
.hor-list-right li {
	float: right;
}
.nf {
	padding-left: 45px;
	font-size: 11px;
	margin-bottom: 20px;
}
.clear {
	clear: both;
	height: 0px;
}
.half {
	width: 50%;
	float: left;
}
.divider-hor {
	background: url(../images/divider-hor.png) center repeat-x;
	height: 30px;
	margin-right: 20px;
	clear: both;
}
strong {
	font-weight: bold;
}
span {
	color: #666;
}
blockquote {
	border-top: 
}
.new-features {
	padding: 0px;
	margin: 0px;
}
.new-features li {
	float: left;
	margin: 0px;
	padding: 0px;
	display: block;
}

/*------------------------------------*/
#content-inside {
	margin: 5px 0px;
	font-size: 12px;
}
#content-inside .inner{
}
#content-inside .navigation {
	float: left;
	width: 828px;
	margin-right: 30px;
	margin-bottom: 50px;
	text-align: right;
}
#content-inside .navigation a:link, #content-inside .navigation a:visited {
	margin:  0px 10px;
	text-decoration: none;
}
#content-inside .navigation a:hover{
	text-decoration: underline;
}
#content-inside .navigation a.current:link, #content-inside .navigation a.current:visited {
	color: #999;
	text-decoration: none;
}
#content-inside .navigation a.current:hover{
}
#content-inside .navigation a.demo:link, #content-inside .navigation a.demo:visited {
	padding: 4px 20px;
	color: #FFF;
	background: url(../images/content-navigation-demo-bg.png) center no-repeat;
	text-decoration: none;
}
#content-inside .navigation a.demo:hover{
	background: url(../images/content-navigation-demo-bg-o.png) center no-repeat;
	text-decoration: none;
}
#content-inside .columnfull {
	float: left;
	width: 828px;
	margin-right: 30px;
}
#content-inside .column2 {
	float: left;
	width: 542px;
	margin-right: 30px;
}
#content-inside .column {
	float: left;
	width: 256px;
	margin-right: 30px;
}
#content-inside p {
	margin-bottom: 20px;
	line-height: 18px;
	font-family: Arial;
}
#content-inside ul {
	margin-bottom: 20px;
}
#content-inside ul li {
	list-style: square;
	margin-left: 25px;
	font-size: 12px;
}
#content-inside ol {
	margin-bottom: 20px;
}
#content-inside ol li {
	list-style: decimal;
	margin-left: 25px;
	font-size: 12px;
}
textbox.blur {
	color: #999;
}
/*
---------------------------------------------------------------------------
FORM VALIDATION CSS
---------------------------------------------------------------------------
*/
.formError {
	position:absolute;
	top:300px; left:300px;
	width:150px;
	padding-bottom:15px;
	display:block;
	z-index:5000;
}
.formError .formErrorContent {
	width:100%; 
	background:#900;
	color:#fff;
	font-family:tahoma;
	font-size:10px;
	box-shadow: 1px 1px 6px #900;
	-moz-box-shadow: 1px 1px 6px #900;
	-webkit-box-shadow: 1px 1px 6px #900;
	padding:4px 10px 4px 10px;
}
.formError .formErrorArrow{
	position:absolute;
	bottom:0;left:20px;
	width:15px; height:15px;
}
.formError .formErrorArrow div{
	box-shadow: 1px 4px 5px #900;
	-moz-box-shadow: 1px 4px 5px #900;
	-webkit-box-shadow: 1px 1px 5px #900;
	font-size:0px; 
}
.formError .formErrorArrow .line10{width:15px;height:1px; background:#900;margin:0 auto; font-size:0px; display:block;} 
.formError .formErrorArrow .line9{width:13px;height:1px; background:#900;margin:0 auto;display:block;} 
.formError .formErrorArrow .line8{width:11px;height:1px; background:#900;margin:0 auto;display:block;} 
.formError .formErrorArrow .line7{width:9px;height:1px; background:#900;margin:0 auto;display:block;} 
.formError .formErrorArrow .line6{width:7px;height:1px; background:#900;margin:0 auto;display:block;} 
.formError .formErrorArrow .line5{width:5px;height:1px; background:#900;margin:0 auto;display:block;} 
.formError .formErrorArrow .line4{width:3px;height:1px; background:#900;margin:0 auto;display:block;} 
.formError .formErrorArrow .line3{width:1px;height:1px; background:#900;margin:0 auto;display:block;} 

