#videogallery {
	float: left;
	font-size: 14px;
	padding: 0 0 5px 3px;
}

#videogallery span {
	display:block;
}

#videogallery a {
	display:-moz-inline-stack;
	zoom:1;
	*display:inline;
	position:relative;
	width:150px;
	opacity:0.87;
}

#videogallery a img {
	border:none;
	margin:0;
}

#videogallery a:hover {
	opacity:1;
}