#main-head {
	border-top: 10px solid #9CBD41;
	width: 100%;
	margin: 0;
	min-width: 1000px;
	padding: 0;
	background-color: transparent;
	height: 204px;
	display: block;
	z-index:100;
}

#main-head-float {
	border-top: 10px solid #9CBD41;
	width: 100%;
	margin: 0;
	min-width: 1000px;
	padding: 0;
	background-color: transparent;
	height: 204px;
	display: block;
	position:absolute;
	z-index:100;
}

#logo {
	width: 311px;
	height: 85px;
	margin-top: 52px;
	float: left;
}

#main_nav {
	float: right;
	margin: 78px 100px 0 0 !important;
}

#main_nav_w {
	display: none;
	float: right;
	margin: 78px 100px 0 0 !important;
}

#dropdown, #dropdown_w, #dropdown_w ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#dropdown li, #dropdown_w li {
	position: relative;
	float: left;
}

#dropdown li a, #dropdown_w li a {
	display: block;
	padding: 0 0 0 28px;
	height: 33px;
}

#dropdown ul, #dropdown_w ul {
	display: none;
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 15px 10px 0 5px;
	left: -5px;
}

#dropdown ul li a, #dropdown_w ul li a {
	text-align: left;
	height: 25px;
}

.bg_white {
	background-color: #FFFFFF;
}

.dropdown_01, .dropdown_02, .dropdown_03, .dropdown_04, .dropdown_05, .dropdown_06, .dropdown_01:hover, .dropdown_02:hover, .dropdown_03:hover, .dropdown_04:hover, .dropdown_05:hover, .dropdown_06:hover, .dropdown_01_o, .dropdown_02_o, .dropdown_03_o, .dropdown_04_o, .dropdown_05_o, .dropdown_06_o, .dropdown_01_w, .dropdown_02_w, .dropdown_03_w, .dropdown_04_w, .dropdown_05_w, .dropdown_06_w {
	background-image: url(../images/nav-main-cn.png);
	background-repeat: no-repeat;
	height: 33px;
	text-indent: -9999em;
	top: 0;
}

.dropdown_01 { background-position: 0 0; width: 111px; }
.dropdown_02 { background-position: -111px 0; width: 72px; }
.dropdown_03 { background-position: -183px 0; width: 71px; }
.dropdown_04 { background-position: -254px 0; width: 71px; }
.dropdown_05 { background-position: -325px 0; width: 72px; }
.dropdown_06 { background-position: -397px 0; width: 79px; }

.dropdown_01:hover, .dropdown_01_o { background-position: 0 -33px; width: 111px; }
.dropdown_02:hover, .dropdown_02_o { background-position: -111px -33px; width: 72px; }
.dropdown_03:hover, .dropdown_03_o { background-position: -183px -33px; width: 71px; }
.dropdown_04:hover, .dropdown_04_o { background-position: -254px -33px; width: 71px; }
.dropdown_05:hover, .dropdown_05_o { background-position: -325px -33px; width: 72px; }
.dropdown_06:hover, .dropdown_06_o { background-position: -397px -33px; width: 79px; }

.dropdown_01_w { background-position: 0 -66px; width: 111px;}
.dropdown_02_w { background-position: -111px -66px; width: 72px; }
.dropdown_03_w { background-position: -183px -66px; width: 71px; }
.dropdown_04_w { background-position: -254px -66px; width: 71px; }
.dropdown_05_w { background-position: -325px -66px; width: 72px; }
.dropdown_06_w { background-position: -397px -66px; width: 79px; }

.dropdown_01_01, .dropdown_01_02, .dropdown_02_01, .dropdown_02_02, .dropdown_02_03, .dropdown_03_01, .dropdown_03_02, .dropdown_04_01, .dropdown_04_02, .dropdown_05_01, .dropdown_05_02, .dropdown_05_03, .dropdown_05_04, .dropdown_01_01:hover, .dropdown_01_02:hover, .dropdown_02_01:hover, .dropdown_02_02:hover, .dropdown_02_03:hover, .dropdown_03_01:hover, .dropdown_03_02:hover, .dropdown_04_01:hover, .dropdown_04_02:hover, .dropdown_05_01:hover, .dropdown_05_02:hover, .dropdown_05_03:hover, .dropdown_05_04:hover, .dropdown_01_01_w, .dropdown_01_02_w, .dropdown_02_01_w, .dropdown_02_02_w, .dropdown_02_03_w, .dropdown_03_01_w, .dropdown_03_02_w, .dropdown_04_01_w, .dropdown_04_02_w, .dropdown_05_01_w, .dropdown_05_02_w, .dropdown_05_03_w, .dropdown_05_04_w {
	background-image: url(../images/nav-sub-cn.png);
	background-repeat: no-repeat;
	height: 27px;
	text-indent: -9999em;
	top: 0;
}

.dropdown_01_01 { background-position: 0 0; width: 72px; }
.dropdown_01_02 { background-position: -72px 0; width: 72px; }
.dropdown_02_01 { background-position: -144px 0; width: 29px; }
.dropdown_02_02 { background-position: -173px 0; width: 72px; }
.dropdown_02_03 { background-position: -245px 0; width: 73px; }
.dropdown_03_01 { background-position: -318px 0; width: 58px; }
.dropdown_03_02 { background-position: -376px 0; width: 58px; }
.dropdown_04_01 { background-position: -434px 0; width: 59px; }
.dropdown_04_02 { background-position: -493px 0; width: 58px; }
.dropdown_05_01 { background-position: -551px 0; width: 58px; }
.dropdown_05_02 { background-position: -609px 0; width: 87px; }
.dropdown_05_03 { background-position: -696px 0; width: 87px; }
.dropdown_05_04 { background-position: -783px 0; width: 129px; }

.dropdown_01_01:hover { background-position: 0 -27px; width: 72px; }
.dropdown_01_02:hover { background-position: -72px -27px; width: 72px; }
.dropdown_02_01:hover { background-position: -144px -27px; width: 29px; }
.dropdown_02_02:hover { background-position: -173px -27px; width: 72px; }
.dropdown_02_03:hover { background-position: -245px -27px; width: 73px; }
.dropdown_03_01:hover { background-position: -318px -27px; width: 58px; }
.dropdown_03_02:hover { background-position: -376px -27px; width: 58px; }
.dropdown_04_01:hover { background-position: -434px -27px; width: 59px; }
.dropdown_04_02:hover { background-position: -493px -27px; width: 58px; }
.dropdown_05_01:hover { background-position: -551px -27px; width: 58px; }
.dropdown_05_02:hover { background-position: -609px -27px; width: 87px; }
.dropdown_05_03:hover { background-position: -696px -27px; width: 87px; }
.dropdown_05_04:hover { background-position: -783px -27px; width: 129px; }

.dropdown_01_01_w { background-position: 0 -54px; width: 72px; }
.dropdown_01_02_w { background-position: -72px -54px; width: 72px; }
.dropdown_02_01_w { background-position: -144px -54px; width: 29px; }
.dropdown_02_02_w { background-position: -173px -54px; width: 72px; }
.dropdown_02_03_w { background-position: -245px -54px; width: 73px; }
.dropdown_03_01_w { background-position: -318px -54px; width: 58px; }
.dropdown_03_02_w { background-position: -376px -54px; width: 58px; }
.dropdown_04_01_w { background-position: -434px -54px; width: 59px; }
.dropdown_04_02_w { background-position: -493px -54px; width: 58px; }
.dropdown_05_01_w { background-position: -551px -54px; width: 58px; }
.dropdown_05_02_w { background-position: -609px -54px; width: 87px; }
.dropdown_05_03_w { background-position: -696px -54px; width: 87px; }
.dropdown_05_04_w { background-position: -783px -54px; width: 129px; }

#preloaded_images {
	position: absolute;
   overflow: hidden;
   left: -9999px; 
   top: -9999px;
   height: 1px;
   width: 1px;
}